
### $Id: NAMESPACE,v 1.6 2008/02/06 04:22:03 goswami Exp $

useDynLib(EMCC, EMCCMainC)

import(mclust)
import(MASS)
import(EMC)

importFrom('graphics', 'par', 'plot', 'points')
importFrom('stats', 'kmeans')


export(evolMonteCarloClustering,
       findMaxTemper,
       placeTempers,
       print.EMCC,
       print.EMCCMaxTemper,
       print.EMCCPlaceTempers,
       partitionRep,
       clusterPlot,
       KMeansFuncGenerator1)

S3method(print, EMCC)
S3method(print, EMCCMaxTemper)
S3method(print, EMCCPlaceTempers)
