
### $Id: NAMESPACE,v 1.6 2008/02/06 04:22:03 goswami Exp $

useDynLib(EMCC, EMCCMainC)

export(evolMonteCarloClustering,
       findMaxTemper,
       placeTempers,
       print.EMCC,
       print.EMCCMaxTemper,
       print.EMCCPlaceTempers,
       partitionRep,
       clusterPlot,
       KMeansFuncGenerator1)

S3Method(print, EMCC)
S3Method(print, EMCCMaxTemper)
S3Method(print, EMCCPlaceTempers)
